
/*global css*/

body, html{
    margin:0;
    padding:0;
    background-color: #2f2f2f;
    color: white;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    min-height:100%;
    position:relative;
}
.content {
 padding-bottom:60px;
 font-size: 16px;
}

.container{
    margin-bottom:50px;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: #81CFE0;
}

.title{
    padding: 2% 0;
}

.center{
    text-align: center;
    margin: auto;
}

.hide{
    display: none;
}

@media screen and (max-width: 768px){
    .center-responsive{
        text-align: center;
        margin: auto;
    }

    .title h1{
        font-size: 30px;
    }

    .content{
        font-size: 15px;
    }
}



/*footer css*/

.company-link{
    color: #848484;
}

.company-link:hover{
    color: #ABB7B7;
    text-decoration: none;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   padding: 25px 10px;
   background-color: #0f0f0f;
   text-align: center;
   color: #4f4f4f;
}







/*navbar css*/

.topnav {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    z-index: 30;
}

.topnav .home{
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
}

.topnav a {
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

.dropmenu .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 24px 16px;
    background-color: inherit;
}

.topnav > div {
    float: left;
}

.topnav .icon {
    display: none;
}

.dropmenu{
    float: left;
    overflow: hidden;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 40;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .topnav > div:hover, .dropmenu:hover .dropbtn {
    background-color: white;
    color: black;
}

.dropmenu:hover .dropdown-content {
    display: block;
}











/*Navbar responsive*/

@media screen and (max-width: 1000px) {

    .topnav div:not(:first-child) {
        display: none;
    }

    .topnav div.icon {
        float: right;
        display: block;
    }

    .topnav a {
        padding: 9px 16px;
        font-size: 14px; 
    }

    .dropmenu .dropbtn {
        padding: 20px 16px;
    }

    .topnav .home{
        padding: 12px 15px;
    }

    .topnav .burger{
        padding: 20px 15px;
        font-size: 20px; 
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive div.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive > div {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: inherit;
        min-width: 160px;
        box-shadow: none;
        z-index: 40;
    }

    .dropdown-content a {
        padding-left: 35px;
    }

    .submenu {
        display: block !important;
    }

    .dropmenu:hover .dropdown-content {
        display: none;
    }

    .topnav a:hover, .topnav > div:hover, .dropmenu:hover .dropbtn {
        background-color: inherit;
        color: #81CFE0;
    }

}


/*quick Link css*/
.sidenav{
    position: absolute; 
    left: -170px; /* Position them outside of the screen */
    transition: 0.3s;
    z-index: 20;
    top: 25%;
}

.sidenav:hover {
    left: 0;
}

.sidenav-menu{
    border-radius: 0px 0px 5px 0px;
    border: 1px solid #777;;
    background-color: #333;
    width: 170px;
    font-size: 14px;
}

.sidenav-menu > a{
    padding: 10px 15px;
    display: block;
}

.sidenav-menu > a:hover{
    background-color: #22313F;
    color: white;
}

.quicklinks-tab {
    transform: rotate(90deg);
    position: relative;

    left: 138px;
    top: 70px;

    background-color: #333;
    padding: 5px;
    width: 100px;
    z-index: 2;
    border-radius:5px 5px 0 0;
    border: 1px solid #777;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
}

@media screen and (max-width: 1000px){
    .quicklinks-tab{
        line-height: 0.8;
        font-size: 12px;
        padding: 5px 0px;
        width: 85px;

        left: 138px;
        top: 53px;
    }

    .sidenav{
        top: 20%;
    }

    .sidenav:hover {
        left: -170px;
    }

    .sidenav.responsive {
        left:0;
    }
}




/*timer css*/
.timer-wrapper{
    position: absolute; 
    right: 30px; /* Position them outside of the screen */
    z-index: 1;
    top: 70px;
    
    border-radius: 5px;

    width: 100%;
    background-color: rgba(100,100,100,0.6);
    max-width: 200px;
    padding-top: 5px;
    padding-bottom:10px;
    box-shadow: 0px 5px 20px black;

}
.timer-wrapper div{
    float: left;
    width: 23%;
    padding: 5px 0;
    margin: 1%;
    background-color: #2f2f2f;
    border-radius: 5px;
    font-size: 13px;
}
.timer-wrapper button{
    font-size: 12.5px;
    width: 90%;
    margin-top: 10px;
}

@media screen and (max-width: 1000px){
    .responsive-timer{
        background-color: white;
    }
    .timer-wrapper{
        background-color: white;
        position: static;
        max-width: 400px;
        z-index: 1;
        box-shadow: none;
        border-radius: none;
        padding-bottom:30px;
    } 
    .timer-wrapper h5{
        color: black;
        font-size: 19px;
        font-weight: 700;
    }
    .timer-wrapper div{
        font-size: 15px;
        width: 22%;
        margin: 1%;
    }

    .timer-wrapper button{
        font-size: 15px;
        width: 90%;
        font-weight: 700;
        margin-top: 10px;
    }
}




/*menu css*/

.container-menu{
    max-width: 825px;  
}

.menu-img{
    max-height: 450px;
    max-width: 100%;
}

.desc{
    text-align: justify;
}


@media screen and (max-width: 768px){
    .container-menu{
        margin: auto 1%;
        margin-bottom:50px;
    }

    .desc{
        text-align: left;
    }

    .menu-img{
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}

